.form-profile-edit{
  box-sizing: border-box;
  padding: 36px;
  background-color: #fff;
  border-radius: 10px;
}

@media all and (max-width:800px) {
  .form-profile-edit{
    padding: 25px 22px; /* на этой строке была ошибка по высоте, но отступы реально меняются по макету */
  }
}
