.popup__close-button{
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url('../../../images/close_icon.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.popup__close-button:hover{
  opacity: .6;
}

@media all and (max-width:850px){
  .popup__close-button{
    width: 20px;
    height: 20px;
    top:-36px;
    right: 0;
  }
}