.profile{
  padding: 40px 0 50px;
  display: grid;
  grid-template-columns: 120px calc(100% - 270px) 150px;
  align-items: center;
  border-top: 1px solid rgba(54,54,54,.7);
  box-sizing: border-box;
}

@media all and (max-width:800px){
  .profile{
    grid-template-columns: 1fr;
    padding: 42px 0px 36px;
    justify-content: center;
  }
}