.form__text-input{
  margin: 9px 0 2px;
  padding: 0 0 10px;
  width: 100%;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.21;
  background-color: transparent;
}
