.form-profile-edit__title{
  margin: 0 0 24px 0;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
}

@media all and (max-width:800px) {
  .form-profile-edit__title{
    margin: 0 0 45px 0;
    font-size: 18px;
  }  
}