.popup__form{
  box-sizing: border-box;
  padding: 34px 36px 37px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 430px;
}

@media all and (max-width:800px) {
  .popup__form{
    padding: 25px 22px;
    max-width: 282px;
  }
}