.popup__close-button{
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  grid-area: button;
  justify-self: end;
  background-color: rgba(0, 0, 0, .0);
  background-image: url('../../../images/close_icon.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.popup__close-button:hover{
  opacity: .5;
}

@media all and (max-width:850px){
  .popup__close-button{
    width: 20px;
    height: 20px;
  }
}