.profile__title-group{
  display: grid;
  margin: 0 10px 0 30px;
  grid-template-columns: minmax(auto, max-content) 24px;
  align-items: baseline;
  column-gap: 18px;
}


@media all and (max-width:800px){
  .profile__title-group{
    margin: 0;
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
}