.profile__info{
  max-width: 336px;
  display: grid;
  margin: 0 10px 0 30px;
  grid-template-columns: minmax(auto, max-content) minmax(24px, );
  grid-template-areas: 
    "title edit"
    "subtitle subtitle"
  ;
  align-items: baseline;
  justify-content: start;
  gap:6px 18px;
}


@media all and (max-width:800px){
  .profile__info{
    margin: 0;
    max-width: 282px;
    grid-template-columns: 1fr minmax(auto, max-content) 18px 1fr;
    grid-template-areas: 
    ". title edit ."
    "subtitle subtitle subtitle subtitle"
  ;
    justify-content: center;
    text-align: center;
    padding: 26px 0 36px;
    gap:8px 10px;
  }
}